<!DOCTYPE html>
<html lang="pt">

<head>
    <%- include('../partials/head'); %>
</head>

<body>

<div id="colorlib-page">
    <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
    <%- include('../partials/sidebar',{ title:title }); %>
    <div id="colorlib-main">
        <%- include('../partials/about') %>
        <section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center mb-5 pb-2">
                    <div class="col-md-7 heading-section text-center ftco-animate">
                        <h2 class="mb-4">Notícias</h2>
                        <p>O Universo é eletrônico, e as viagens no tempo são uma perfeita interação entre
                            aquilo
                            que chamamos de real e virtual.</p>
                    </div>
                </div>
                <div class="row">
                    <% if (noticias.length > 0) { %>
                        <% for(var i = 0; i < noticias.length; i++){ %>
                            <div class="col-md-4">
                                <div class="blog-entry ftco-animate">
                                    <a href="#" class="img img-2"
                                       style="background-image: url(images/<%= destaques[i] %>);"></a>
                                    <div class="text text-2 pt-2 mt-3">
											<span class="category mb-3 d-block"><a href="#">
													<%= noticias[i].categoria %>
												</a></span>
                                        <h3 class="mb-4"><a href="noticia?id_noticia=<%= noticias[i].id_noticia %>">
                                                <%= noticias[i].titulo %>
                                            </a></h3>
                                        <p class="mb-4">
                                            <%= noticias[i].resumo %>
                                        </p>
                                        <div class="author mb-4 d-flex align-items-center">
                                            <a href="#" class="img"
                                               style="background-image: url(images/<%= itens[i] %>);"></a>
                                            <div class="ml-3 info">
                                                <span>Escrito por</span>
                                                <h3><a href="#">
                                                        <%= noticias[i].autor %>
                                                    </a>, <span style="text-transform: capitalize;">
															<%= moment(noticias[i].data_noticia).format('MMM. DD, YYYY') %>
														</span></h3>
                                            </div>
                                        </div>
                                        <div class="meta-wrap align-items-center">
                                            <!-- <div class="half order-md-last">
                                            <p class="meta">
                                                <span><i class="icon-heart"></i>3</span>
                                                <span><i class="icon-eye"></i>100</span>
                                                <span><i class="icon-comment"></i>5</span>
                                            </p>
                                        </div> -->
                                            <div class="half">
                                                <p><a href="noticia?id_noticia=<%= noticias[i].id_noticia %>"
                                                      class="btn py-2">Continue lendo <span
                                                                class="ion-ios-arrow-forward"></span></a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                        <div class="col-md-4">
                            <a href="/formulario_inclusao_noticia" class="photography-entry img d-flex justify-content-center align-items-center img-2 ftco-animate"
                               style="background-image: url(https://c0.wallpaperflare.com/preview/105/94/569/administration-articles-bank-black-and-white.jpg);height: 665px">
                                <div class="overlay"></div>
                                <div class="text text-center">
                                    <h3><i class="icon icon-plus-circle"></i> Adicionar Noticia</h3>
                                </div>
                            </a>
                        </div>
                    <% }else{ %>
                        <div class="col-md-12">
                            <div class="alert alert-primary text-center" role="alert">
                                Não há noticias cadastradas!
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </section>
        <%- include('../partials/footer',{categorias: categorias, datas: datas, conexao:connection}); %>
    </div><!-- END COLORLIB-MAIN -->
</div><!-- END COLORLIB-PAGE -->

<!-- loader -->
<div id="ftco-loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                stroke="#F96D00"/>
    </svg>
</div>


<%- include('../partials/scripts'); %>

</body>

</html>